n8n/fireflies-opportunity-meeting-notes-mock.workflow.json
[
	{
		"updatedAt": "2026-04-06T03:30:39.395Z",
		"createdAt": "2026-04-06T03:30:39.395Z",
		"id": "c7d3a9e3-3d37-4dc5-bb52-f4c390c409ea",
		"name": "Fireflies Opportunity Meeting Notes Mock",
		"description": "Manual mock workflow that emits best-guess Fireflies webhook and transcript payloads, builds the downstream Acumatica approval payload, and can create the approval row plus transcript attachment through the Default endpoint using an n8n OAuth2 API credential.",
		"active": false,
		"isArchived": false,
		"nodes": [
			{
				"id": "1",
				"name": "Manual Trigger",
				"type": "n8n-nodes-base.manualTrigger",
				"typeVersion": 1,
				"position": [
					260,
					300
				],
				"parameters": {}
			},
			{
				"id": "2",
				"name": "Load Mock Transcript Response",
				"type": "n8n-nodes-base.code",
				"typeVersion": 2,
				"position": [
					520,
					300
				],
				"parameters": {
					"mode": "runOnceForAllItems",
					"language": "javaScript",
					"jsCode": "return [{ json: {\"id\":\"01KEG1NZ6RHJ7S3V71D4T70ZBJ\",\"formattedTranscript\":\"**Kyle Vanderstoep:** Hey, how's it going?\\n\\n**Stephen Korosy:** Hola. Buenos dias.\\n\\n**Kyle Vanderstoep:** For now, we just need to talk about random things because we need to generate a transcript so that I can get a test notification.\\n\\n**Stephen Korosy:** While we're at it, should we go ahead and talk about what your current core processor is like? What is your current core processor that you're using right now?\\n\\n**Kyle Vanderstoep:** I think it's skorosy. And I'm using the GL in it. But I'm looking to switch to something with more functionality.\\n\\n**Stephen Korosy:** I think you're using a third party general ledger system. It's either wisdom or prolo. Do you remember which one it is?\\n\\n**Kyle Vanderstoep:** I'm gonna have to go with wisdom. That sounds the most familiar.\\n\\n**Stephen Korosy:** It sounds like you're on wisdom and skorosy and you're not very happy with it. Did you have a particular time frame in mind that you'd want to start a project and then be live on the project?\\n\\n**Kyle Vanderstoep:** I'm hoping that we could start the project this coming August and then go live maybe like mid November.\\n\\n**Stephen Korosy:** Usually the scope of our implementations is general ledger, accounts payable, fixed assets, and financial reporting. We also do advanced expense management, which would replace something like Certify or Concur. Do you use either of those two products?\\n\\n**Kyle Vanderstoep:** Yeah, I use Concur. And I'd be happy to roll that into my Acumatica implementation.\\n\\n**Stephen Korosy:** Usually what goes along with that is corporate credit card reimbursements. How many corporate credit cards do you have in use there?\\n\\n**Kyle Vanderstoep:** We've got about 25.\\n\\n**Stephen Korosy:** Do you know if your credit union has a relationship with Plaid or MX?\\n\\n**Kyle Vanderstoep:** Yeah, we have a relationship with Plaid.\\n\\n**Stephen Korosy:** Usually when we convert you over, we bring over two years of detail and then several more years in summary. Does that work for you?\\n\\n**Kyle Vanderstoep:** I think two years of detail and five years of summary.\\n\\n**Stephen Korosy:** We do require that you have an SFTP site that you host. Is that going to be an issue?\\n\\n**Kyle Vanderstoep:** Certainly we can get one of those spun up.\\n\\n**Stephen Korosy:** From a budgetary standpoint there are three main components: the annual Acumatica subscription around 45 to 55K, a one time implementation fee around 125 to 150K, and annual unlimited support around 20 to 25K. Are you comfortable with that?\\n\\n**Kyle Vanderstoep:** Yeah, that's totally fine.\\n\\n**Stephen Korosy:** I think I've covered most of the stuff that I would normally cover.\",\"attendees\":[\"skorosy@bpw.com\",\"kyle@contou.com\"],\"date\":\"2026-01-09T16:45:00.000Z\",\"host\":\"skorosy@bpw.com\",\"subject\":\"kyle/steve\",\"keywords\":[\"Acumatica\",\"implementation timeline\",\"budget proposal\",\"data migration\",\"corporate credit cards\",\"expense management\"],\"actionItems\":\"\\n**Kyle Vanderstoep**\\nCoordinate and confirm realistic project timeline: start in August, go live mid-November.\\nPlan to integrate Concur expense management into Acumatica implementation.\\nEnsure the company sets up an SFTP server for secure data transfer to Acumatica.\\nReview the budget proposal for subscription, implementation, and support, and confirm acceptance.\\n\\n**Stephen Korosy**\\nConfirm current systems in use.\\nPropose and advise realistic project timeline and scope, including data migration and expense management modules.\\nValidate credit card integration options via Plaid.\\nClarify budget structure and ensure client comfort with pricing model.\\n\",\"shorthandBullet\":\"📊 **Current Systems Overview**\\nDiscussed current core processor and general ledger system in use; identified as Skorosy with a third-party general ledger likely Wisdom.\\n\\n🗓️ **Project Timeline Adjustment**\\nImplementation target adjusted to start in August and go live mid-November.\\n\\n💳 **Corporate Credit Card Integration**\\nClient uses about 25 corporate cards and has a relationship with Plaid.\\n\\n💰 **Budget Review**\\nBudget components reviewed: annual Acumatica subscription $45K-$55K, one-time implementation fee $125K-$150K, and annual unlimited support $20K-$25K.\",\"overview\":\"- **Project Timeline:** Implementation starts in August; go-live by mid-November.\\n- **Data Migration:** Two years of detailed ledger history and five years of summary data will be migrated via SFTP.\\n- **System Integration:** Upgrading expense management with Acumatica and integrating corporate credit card data.\\n- **Budget Overview:** Annual Acumatica subscription: $45K-$55K, implementation fee: $125K-$150K, support fee: $20K-$25K.\\n- **Scope Clarity:** No additional subsidiaries included; focus on a smoother implementation process.\",\"bulletGist\":\"📅 Project Timeline: Implementation starts in August; go-live by mid-November.\\n🔄 Data Migration: Two years of detailed general ledger data and five years of summary data will be migrated via SFTP.\\n💳 System Integration: Concur replacement and corporate credit card integration in Acumatica.\\n💰 Budget Overview: Acumatica subscription $45K-$55K, implementation $125K-$150K, support $20K-$25K.\",\"gist\":\"The meeting focused on planning an Acumatica financial system implementation, including timeline, data migration, budget, expense management, and integration details.\",\"shortSummary\":\"The team outlined an Acumatica implementation starting in August and going live by mid-November. The project includes two years of detailed general ledger history, five years of summary data, Concur replacement, corporate credit card integration through Plaid, and SFTP-based data exchange. Budget expectations were confirmed for subscription, implementation, and annual support.\"} }];"
				}
			},
			{
				"id": "3",
				"name": "Normalize Fireflies Transcript",
				"type": "n8n-nodes-base.code",
				"typeVersion": 2,
				"position": [
					780,
					300
				],
				"parameters": {
					"mode": "runOnceForAllItems",
					"language": "javaScript",
					"jsCode": "\nconst input = $input.first()?.json ?? {};\nconst transcript = Array.isArray(input) ? input[0] : input;\n\nif (!transcript?.formattedTranscript) {\n\tthrow new Error(\"Mock Fireflies transcript payload did not contain formattedTranscript\");\n}\n\nconst escapeHtml = (value) => String(value ?? \"\")\n\t.replace(/&/g, \"&amp;\")\n\t.replace(/</g, \"&lt;\")\n\t.replace(/>/g, \"&gt;\")\n\t.replace(/\"/g, \"&quot;\")\n\t.replace(/'/g, \"&#39;\");\n\nconst normalizeEmail = (value) => String(value ?? \"\").trim().toLowerCase();\n\nconst asArray = (value) => {\n\tif (Array.isArray(value)) {\n\t\treturn value;\n\t}\n\n\tif (value == null || value === \"\") {\n\t\treturn [];\n\t}\n\n\treturn [value];\n};\n\nconst markdownParagraphsToHtml = (value) =>\n\tString(value ?? \"\")\n\t\t.split(/\\n{2,}/)\n\t\t.map((paragraph) => paragraph.trim())\n\t\t.filter(Boolean)\n\t\t.map((paragraph) => {\n\t\t\tconst escaped = escapeHtml(paragraph).replace(/\\*\\*(.+?)\\*\\*/g, \"<strong>$1</strong>\");\n\t\t\treturn \"<p>\" + escaped + \"</p>\";\n\t\t})\n\t\t.join(\"\");\n\nconst participantEmails = Array.from(new Set([...asArray(transcript.attendees), transcript.host].map(normalizeEmail).filter(Boolean)));\n\nconst externalEmails = participantEmails.filter((email) => !email.endsWith(\"@bpw.com\"));\n\nconst summary = {\n\toverview: transcript.overview ?? \"\",\n\taction_items: transcript.actionItems ?? \"\",\n\tshorthand_bullet: transcript.shorthandBullet ?? transcript.bulletGist ?? \"\",\n\tshort_summary: transcript.shortSummary ?? \"\",\n\tshort_overview: transcript.gist ?? \"\",\n\ttopics_discussed: transcript.keywords ?? [],\n};\n\nconst transcriptHtml = markdownParagraphsToHtml(transcript.formattedTranscript);\n\nconst title = transcript.subject || \"Meeting Notes Summary\";\nconst meetingDate = transcript.date || new Date().toISOString();\nconst summaryText = [\n\tsummary.overview,\n\tsummary.short_summary,\n\tsummary.short_overview,\n]\n\t.filter(Boolean)\n\t.join(\"\\\\n\\\\n\")\n\t.trim();\n\nconst transcriptFileName = [\n\t(title || \"meeting-notes\")\n\t\t.replace(/[^A-Za-z0-9._-]+/g, \"-\")\n\t\t.replace(/-+/g, \"-\")\n\t\t.replace(/^-|-$/g, \"\")\n\t\t.toLowerCase() || \"meeting-notes\",\n\t\".html\",\n].join(\"\");\n\nconst basePayload = {\n\tmeetingId: transcript.id,\n\ttitle,\n\tmeetingDate,\n\torganizerEmail: normalizeEmail(transcript.host),\n\tparticipantEmails,\n\texternalParticipantEmails: externalEmails,\n\ttranscriptUrl: transcript.transcriptUrl || \"\",\n\tduration: transcript.duration ?? null,\n\tsummary,\n\tsummaryText,\n\ttranscriptHtml,\n\ttranscriptFileName,\n\tmatchCorpus: [\n\t\ttitle,\n\t\tsummary.overview,\n\t\tsummary.short_summary,\n\t\tsummary.short_overview,\n\t\tsummary.shorthand_bullet,\n\t\tArray.isArray(summary.topics_discussed) ? summary.topics_discussed.join(\" \") : summary.topics_discussed,\n\t]\n\t\t.filter(Boolean)\n\t\t.join(\" \")\n\t\t.toLowerCase(),\n};\n\nif (externalEmails.length === 0) {\n\treturn [\n\t\t{\n\t\t\tjson: {\n\t\t\t\t...basePayload,\n\t\t\t\tattendeeEmail: null,\n\t\t\t},\n\t\t},\n\t];\n}\n\nreturn externalEmails.map((attendeeEmail) => ({\n\tjson: {\n\t\t...basePayload,\n\t\tattendeeEmail,\n\t},\n}));\n"
				}
			},
			{
				"id": "4",
				"name": "Mock Contacts",
				"type": "n8n-nodes-base.code",
				"typeVersion": 2,
				"position": [
					1040,
					300
				],
				"parameters": {
					"mode": "runOnceForEachItem",
					"language": "javaScript",
					"jsCode": "\nconst attendeeEmail = String($json.attendeeEmail ?? \"\").toLowerCase();\n\nconst contactsByEmail = {\n\t\"kyle@contou.com\": [\n\t\t{\n\t\t\tContactID: { value: \"901\" },\n\t\t\tDisplayName: { value: \"Kyle Vanderstoep\" },\n\t\t\tBusinessAccount: { value: \"CONTOU\" },\n\t\t\tBusinessAccountID: { value: \"610\" },\n\t\t\tEmail: { value: \"kyle@contou.com\" },\n\t\t},\n\t],\n};\n\nreturn {\n\tjson: {\n\t\trecords: contactsByEmail[attendeeEmail] ?? [],\n\t},\n};\n"
				}
			},
			{
				"id": "5",
				"name": "Mock Opportunities",
				"type": "n8n-nodes-base.code",
				"typeVersion": 2,
				"position": [
					1300,
					300
				],
				"parameters": {
					"mode": "runOnceForEachItem",
					"language": "javaScript",
					"jsCode": "\nreturn {\n\tjson: {\n\t\trecords: [\n\t{\n\t\tOpportunityID: { value: \"OP000104\" },\n\t\tBusinessAccount: { value: \"CONTOU\" },\n\t\tSubject: { value: \"Acumatica implementation and services rollout\" },\n\t\tStatus: { value: \"Open\" },\n\t},\n\t{\n\t\tOpportunityID: { value: \"OP000145\" },\n\t\tBusinessAccount: { value: \"CONTOU\" },\n\t\tSubject: { value: \"Generic product inquiry\" },\n\t\tStatus: { value: \"Open\" },\n\t},\n\t\t],\n\t},\n};\n"
				}
			},
			{
				"id": "6",
				"name": "Aggregate And Build Payload",
				"type": "n8n-nodes-base.code",
				"typeVersion": 2,
				"position": [
					1560,
					300
				],
				"parameters": {
					"mode": "runOnceForAllItems",
					"language": "javaScript",
					"jsCode": "\nconst attendeeItems = $('Normalize Fireflies Transcript').all();\nconst contactItems = $('Mock Contacts').all();\nconst opportunityItems = $('Mock Opportunities').all();\n\nconst readValue = (record, ...keys) => {\n\tif (!record || typeof record !== \"object\") {\n\t\treturn null;\n\t}\n\n\tfor (const key of keys) {\n\t\tif (!(key in record)) {\n\t\t\tcontinue;\n\t\t}\n\n\t\tconst value = record[key];\n\t\tif (value && typeof value === \"object\" && \"value\" in value) {\n\t\t\treturn value.value;\n\t\t}\n\t\tif (value !== undefined) {\n\t\t\treturn value;\n\t\t}\n\t}\n\n\treturn null;\n};\n\nconst asArray = (value) => {\n\tif (Array.isArray(value)) {\n\t\treturn value;\n\t}\n\n\tif (value == null) {\n\t\treturn [];\n\t}\n\n\treturn [value];\n};\n\nconst toIntOrNull = (value) => {\n\tif (value == null || value === \"\") {\n\t\treturn null;\n\t}\n\n\tconst parsed = Number.parseInt(String(value), 10);\n\treturn Number.isFinite(parsed) ? parsed : null;\n};\n\nconst keywordSet = (value) => new Set(\n\tString(value ?? \"\")\n\t\t.toLowerCase()\n\t\t.replace(/[^a-z0-9\\s]/g, \" \")\n\t\t.split(/\\s+/)\n\t\t.filter((word) => word.length > 2),\n);\n\nconst scoreOpportunity = (opportunity, matchCorpus, businessAccounts) => {\n\tlet score = 0;\n\tconst subject = String(readValue(opportunity, \"Subject\", \"subject\") ?? \"\");\n\tconst subjectKeywords = keywordSet(subject);\n\tconst corpusKeywords = keywordSet(matchCorpus);\n\n\tfor (const word of subjectKeywords) {\n\t\tif (corpusKeywords.has(word)) {\n\t\t\tscore += 5;\n\t\t}\n\t}\n\n\tconst businessAccount = String(readValue(opportunity, \"BusinessAccount\", \"businessAccount\", \"BAccountID\", \"bAccountID\") ?? \"\");\n\tif (businessAccount && businessAccounts.has(businessAccount.toLowerCase())) {\n\t\tscore += 20;\n\t}\n\n\treturn score;\n};\n\nconst firstMeeting = attendeeItems[0]?.json;\nif (!firstMeeting) {\n\tthrow new Error(\"No normalized Fireflies items were produced\");\n}\n\nconst unmatchedEmails = [];\nconst matchedContacts = [];\nconst businessAccounts = new Set();\nconst candidateOpportunities = [];\n\nfor (let index = 0; index < attendeeItems.length; index += 1) {\n\tconst attendee = attendeeItems[index]?.json ?? {};\n\tconst attendeeEmail = attendee.attendeeEmail;\n\tconst contactsResponse = contactItems[index]?.json?.records ?? [];\n\tconst opportunitiesResponse = opportunityItems[index]?.json?.records ?? [];\n\n\tconst contacts = asArray(contactsResponse).filter((record) => record && typeof record === \"object\");\n\tif (attendeeEmail && contacts.length === 0) {\n\t\tunmatchedEmails.push(attendeeEmail);\n\t}\n\n\tfor (const contact of contacts) {\n\t\tconst businessAccount = readValue(contact, \"BusinessAccount\", \"businessAccount\", \"BAccountID\", \"bAccountID\", \"BusinessAccountID\");\n\t\tconst contactID = readValue(contact, \"id\", \"ContactID\", \"contactID\");\n\n\t\tif (businessAccount) {\n\t\t\tbusinessAccounts.add(String(businessAccount).toLowerCase());\n\t\t}\n\n\t\tmatchedContacts.push({\n\t\t\tattendeeEmail,\n\t\t\tcontactID,\n\t\t\tbusinessAccount,\n\t\t\tdisplayName: readValue(contact, \"DisplayName\", \"displayName\", \"FullName\", \"fullName\"),\n\t\t});\n\t}\n\n\tfor (const opportunity of asArray(opportunitiesResponse).filter((record) => record && typeof record === \"object\")) {\n\t\tconst opportunityID = readValue(opportunity, \"OpportunityID\", \"opportunityID\");\n\t\tif (!opportunityID) {\n\t\t\tcontinue;\n\t\t}\n\n\t\tcandidateOpportunities.push(opportunity);\n\t}\n}\n\nconst dedupedOpportunities = Array.from(\n\tnew Map(\n\t\tcandidateOpportunities.map((opportunity) => [\n\t\t\tString(readValue(opportunity, \"OpportunityID\", \"opportunityID\")),\n\t\t\topportunity,\n\t\t]),\n\t).values(),\n);\n\nconst ranked = dedupedOpportunities\n\t.map((opportunity) => ({\n\t\topportunity,\n\t\topportunityID: String(readValue(opportunity, \"OpportunityID\", \"opportunityID\")),\n\t\tsubject: String(readValue(opportunity, \"Subject\", \"subject\") ?? \"\"),\n\t\tbusinessAccount: String(readValue(opportunity, \"BusinessAccount\", \"businessAccount\", \"BAccountID\", \"bAccountID\") ?? \"\"),\n\t\tscore: scoreOpportunity(opportunity, firstMeeting.matchCorpus, businessAccounts),\n\t}))\n\t.sort((left, right) => right.score - left.score);\n\nconst bestCandidate = ranked[0] ?? null;\nconst topCandidates = bestCandidate\n\t? ranked.filter((entry) => entry.score === bestCandidate.score)\n\t: [];\nconst hasUniqueBestCandidate = topCandidates.length === 1;\nconst suggestedOpportunityID = hasUniqueBestCandidate ? bestCandidate.opportunityID : null;\n// Keep the mock aligned with the real workflow: suggestions are automatic, confirmation is not.\nconst confirmedOpportunityID = null;\nconst executionSuffix = new Date().toISOString().replace(/[^0-9]/g, \"\").slice(0, 14);\nconst externalMeetingID = firstMeeting.meetingId + \"-mock-\" + executionSuffix;\nconst externalClientReferenceID = \"fireflies-sample-20260109\" + \"-\" + executionSuffix;\n\nconst subject = (firstMeeting.title || \"Meeting Notes Summary\").slice(0, 255);\nconst participantEmails = Array.isArray(firstMeeting.participantEmails) ? firstMeeting.participantEmails : [];\nconst primaryContact = matchedContacts[0] ?? null;\n// Do not send BusinessAccountID / ContactID yet.\n// The mock fixture uses lookup-style values that are not safe to round-trip into\n// this instance's Default endpoint contract.\nconst primaryBusinessAccountID = null;\nconst primaryContactID = null;\n\nconst acumaticaApprovalPayload = {\n\tExternalMeetingID: { value: externalMeetingID },\n\tExternalClientReferenceID: { value: externalClientReferenceID },\n\tMeetingDate: { value: firstMeeting.meetingDate },\n\tMeetingTitle: { value: firstMeeting.title },\n\tMeetingSummary: { value: firstMeeting.summaryText || \"Meeting Notes Summary\" },\n\tTranscriptHtml: { value: firstMeeting.transcriptHtml },\n\tTranscriptUrl: { value: firstMeeting.transcriptUrl || \"\" },\n\tOrganizerEmail: { value: firstMeeting.organizerEmail || \"\" },\n\tParticipantEmails: { value: participantEmails.join(\";\") },\n\tMatchDiagnostics: {\n\t\tvalue: JSON.stringify({\n\t\t\tunmatchedEmails,\n\t\t\tmatchedContacts,\n\t\t\trankedCandidates: ranked.map((entry) => ({\n\t\t\t\topportunityID: entry.opportunityID,\n\t\t\t\tsubject: entry.subject,\n\t\t\t\tbusinessAccount: entry.businessAccount,\n\t\t\t\tscore: entry.score,\n\t\t\t})),\n\t\t\tambiguousTopCandidates: hasUniqueBestCandidate ? [] : topCandidates.map((entry) => ({\n\t\t\t\topportunityID: entry.opportunityID,\n\t\t\t\tsubject: entry.subject,\n\t\t\t\tbusinessAccount: entry.businessAccount,\n\t\t\t\tscore: entry.score,\n\t\t\t})),\n\t\t}),\n\t},\n\tSubject: { value: subject },\n};\n\nif (primaryBusinessAccountID != null) {\n\tacumaticaApprovalPayload.BusinessAccountID = { value: primaryBusinessAccountID };\n}\n\nif (primaryContactID != null) {\n\tacumaticaApprovalPayload.ContactID = { value: primaryContactID };\n}\n\nif (suggestedOpportunityID) {\n\tacumaticaApprovalPayload.SuggestedOpportunityID = { value: suggestedOpportunityID };\n}\n\nif (confirmedOpportunityID) {\n\tacumaticaApprovalPayload.ConfirmedOpportunityID = { value: confirmedOpportunityID };\n}\n\nreturn [\n\t{\n\t\tjson: {\n\t\t\texternalMeetingID,\n\t\t\texternalClientReferenceID,\n\t\t\tmeetingDate: firstMeeting.meetingDate,\n\t\t\tmeetingTitle: firstMeeting.title,\n\t\t\tmeetingSummary: firstMeeting.summaryText || \"Meeting Notes Summary\",\n\t\t\ttranscriptHtml: firstMeeting.transcriptHtml,\n\t\t\t// Deferred: swap this generated HTML file for the original Fireflies transcript file\n\t\t\t// if the production integration exposes a stable downloadable artifact.\n\t\t\ttranscriptFileText: firstMeeting.transcriptHtml,\n\t\t\ttranscriptFileName: firstMeeting.transcriptFileName,\n\t\t\ttranscriptUrl: firstMeeting.transcriptUrl,\n\t\t\torganizerEmail: firstMeeting.organizerEmail,\n\t\t\tparticipantEmails,\n\t\t\tunmatchedEmails,\n\t\t\tmatchedContacts,\n\t\t\tcandidateOpportunities: ranked,\n\t\t\tsuggestedOpportunityID,\n\t\t\tconfirmedOpportunityID,\n\t\t\tacumaticaApprovalPayload,\n\t\t},\n\t},\n];\n"
				}
			},
			{
				"id": "7",
				"name": "Build Transcript File",
				"type": "n8n-nodes-base.convertToFile",
				"typeVersion": 1.1,
				"position": [
					1820,
					300
				],
				"parameters": {
					"operation": "toText",
					"sourceProperty": "transcriptFileText",
					"binaryPropertyName": "transcriptFile",
					"options": {
						"fileName": "={{ $json.transcriptFileName }}"
					}
				}
			},
			{
				"id": "8",
				"name": "Build Mock Preview",
				"type": "n8n-nodes-base.code",
				"typeVersion": 2,
				"position": [
					2080,
					120
				],
				"parameters": {
					"mode": "runOnceForAllItems",
					"language": "javaScript",
					"jsCode": "\nconst payload = $('Aggregate And Build Payload').first()?.json ?? {};\n\nreturn [\n\t{\n\t\tjson: {\n\t\t\tfirefliesWebhookPayload: {\"meetingId\":\"01KEG1NZ6RHJ7S3V71D4T70ZBJ\",\"eventType\":\"Transcription completed\",\"clientReferenceId\":\"fireflies-sample-20260109\"},\n\t\t\tfirefliesTranscriptResponse: [{\"id\":\"01KEG1NZ6RHJ7S3V71D4T70ZBJ\",\"formattedTranscript\":\"**Kyle Vanderstoep:** Hey, how's it going?\\n\\n**Stephen Korosy:** Hola. Buenos dias.\\n\\n**Kyle Vanderstoep:** For now, we just need to talk about random things because we need to generate a transcript so that I can get a test notification.\\n\\n**Stephen Korosy:** While we're at it, should we go ahead and talk about what your current core processor is like? What is your current core processor that you're using right now?\\n\\n**Kyle Vanderstoep:** I think it's skorosy. And I'm using the GL in it. But I'm looking to switch to something with more functionality.\\n\\n**Stephen Korosy:** I think you're using a third party general ledger system. It's either wisdom or prolo. Do you remember which one it is?\\n\\n**Kyle Vanderstoep:** I'm gonna have to go with wisdom. That sounds the most familiar.\\n\\n**Stephen Korosy:** It sounds like you're on wisdom and skorosy and you're not very happy with it. Did you have a particular time frame in mind that you'd want to start a project and then be live on the project?\\n\\n**Kyle Vanderstoep:** I'm hoping that we could start the project this coming August and then go live maybe like mid November.\\n\\n**Stephen Korosy:** Usually the scope of our implementations is general ledger, accounts payable, fixed assets, and financial reporting. We also do advanced expense management, which would replace something like Certify or Concur. Do you use either of those two products?\\n\\n**Kyle Vanderstoep:** Yeah, I use Concur. And I'd be happy to roll that into my Acumatica implementation.\\n\\n**Stephen Korosy:** Usually what goes along with that is corporate credit card reimbursements. How many corporate credit cards do you have in use there?\\n\\n**Kyle Vanderstoep:** We've got about 25.\\n\\n**Stephen Korosy:** Do you know if your credit union has a relationship with Plaid or MX?\\n\\n**Kyle Vanderstoep:** Yeah, we have a relationship with Plaid.\\n\\n**Stephen Korosy:** Usually when we convert you over, we bring over two years of detail and then several more years in summary. Does that work for you?\\n\\n**Kyle Vanderstoep:** I think two years of detail and five years of summary.\\n\\n**Stephen Korosy:** We do require that you have an SFTP site that you host. Is that going to be an issue?\\n\\n**Kyle Vanderstoep:** Certainly we can get one of those spun up.\\n\\n**Stephen Korosy:** From a budgetary standpoint there are three main components: the annual Acumatica subscription around 45 to 55K, a one time implementation fee around 125 to 150K, and annual unlimited support around 20 to 25K. Are you comfortable with that?\\n\\n**Kyle Vanderstoep:** Yeah, that's totally fine.\\n\\n**Stephen Korosy:** I think I've covered most of the stuff that I would normally cover.\",\"attendees\":[\"skorosy@bpw.com\",\"kyle@contou.com\"],\"date\":\"2026-01-09T16:45:00.000Z\",\"host\":\"skorosy@bpw.com\",\"subject\":\"kyle/steve\",\"keywords\":[\"Acumatica\",\"implementation timeline\",\"budget proposal\",\"data migration\",\"corporate credit cards\",\"expense management\"],\"actionItems\":\"\\n**Kyle Vanderstoep**\\nCoordinate and confirm realistic project timeline: start in August, go live mid-November.\\nPlan to integrate Concur expense management into Acumatica implementation.\\nEnsure the company sets up an SFTP server for secure data transfer to Acumatica.\\nReview the budget proposal for subscription, implementation, and support, and confirm acceptance.\\n\\n**Stephen Korosy**\\nConfirm current systems in use.\\nPropose and advise realistic project timeline and scope, including data migration and expense management modules.\\nValidate credit card integration options via Plaid.\\nClarify budget structure and ensure client comfort with pricing model.\\n\",\"shorthandBullet\":\"📊 **Current Systems Overview**\\nDiscussed current core processor and general ledger system in use; identified as Skorosy with a third-party general ledger likely Wisdom.\\n\\n🗓️ **Project Timeline Adjustment**\\nImplementation target adjusted to start in August and go live mid-November.\\n\\n💳 **Corporate Credit Card Integration**\\nClient uses about 25 corporate cards and has a relationship with Plaid.\\n\\n💰 **Budget Review**\\nBudget components reviewed: annual Acumatica subscription $45K-$55K, one-time implementation fee $125K-$150K, and annual unlimited support $20K-$25K.\",\"overview\":\"- **Project Timeline:** Implementation starts in August; go-live by mid-November.\\n- **Data Migration:** Two years of detailed ledger history and five years of summary data will be migrated via SFTP.\\n- **System Integration:** Upgrading expense management with Acumatica and integrating corporate credit card data.\\n- **Budget Overview:** Annual Acumatica subscription: $45K-$55K, implementation fee: $125K-$150K, support fee: $20K-$25K.\\n- **Scope Clarity:** No additional subsidiaries included; focus on a smoother implementation process.\",\"bulletGist\":\"📅 Project Timeline: Implementation starts in August; go-live by mid-November.\\n🔄 Data Migration: Two years of detailed general ledger data and five years of summary data will be migrated via SFTP.\\n💳 System Integration: Concur replacement and corporate credit card integration in Acumatica.\\n💰 Budget Overview: Acumatica subscription $45K-$55K, implementation $125K-$150K, support $20K-$25K.\",\"gist\":\"The meeting focused on planning an Acumatica financial system implementation, including timeline, data migration, budget, expense management, and integration details.\",\"shortSummary\":\"The team outlined an Acumatica implementation starting in August and going live by mid-November. The project includes two years of detailed general ledger history, five years of summary data, Concur replacement, corporate credit card integration through Plaid, and SFTP-based data exchange. Budget expectations were confirmed for subscription, implementation, and annual support.\"}],\n\t\t\tacumaticaApprovalPayload: payload.acumaticaApprovalPayload ?? {},\n\t\t\tsuggestedOpportunityID: payload.suggestedOpportunityID ?? null,\n\t\t\tconfirmedOpportunityID: payload.confirmedOpportunityID ?? null,\n\t\t\tmatchedContacts: payload.matchedContacts ?? [],\n\t\t\tcandidateOpportunities: payload.candidateOpportunities ?? [],\n\t\t\tunmatchedEmails: payload.unmatchedEmails ?? [],\n\t\t\ttranscriptFileName: payload.transcriptFileName ?? null,\n\t\t\ttranscriptUrl: payload.transcriptUrl ?? null,\n\t\t},\n\t},\n];\n"
				}
			},
			{
				"id": "9",
				"name": "Create Approval Record",
				"type": "n8n-nodes-base.httpRequest",
				"typeVersion": 4.4,
				"position": [
					2080,
					320
				],
				"parameters": {
					"method": "PUT",
					"url": "={{ ($env.ACU_BASE_URL || \"https://localhost:443\") + \"/\" + ($env.ACU_INSTANCE_NAME || \"demo\") + \"/entity/\" + ($env.ACU_APPROVAL_ENDPOINT_NAME || \"LSOpportunityNotes\") + \"/\" + ($env.ACU_APPROVAL_ENDPOINT_VERSION || \"25.200.001\") + \"/OpportunityNotesApproval\" }}",
					"authentication": "genericCredentialType",
					"genericAuthType": "oAuth2Api",
					"sendBody": true,
					"contentType": "json",
					"specifyBody": "json",
					"jsonBody": "={{ $(\"Aggregate And Build Payload\").first().json.acumaticaApprovalPayload }}",
					"options": {
						"allowUnauthorizedCerts": true,
						"timeout": 60000,
						"response": {
							"response": {
								"neverError": false,
								"responseFormat": "json"
							}
						}
					}
				}
			}
		],
		"connections": {
			"Manual Trigger": {
				"main": [
					[
						{
							"node": "Load Mock Transcript Response",
							"type": "main",
							"index": 0
						}
					]
				]
			},
			"Load Mock Transcript Response": {
				"main": [
					[
						{
							"node": "Normalize Fireflies Transcript",
							"type": "main",
							"index": 0
						}
					]
				]
			},
			"Normalize Fireflies Transcript": {
				"main": [
					[
						{
							"node": "Mock Contacts",
							"type": "main",
							"index": 0
						}
					]
				]
			},
			"Mock Contacts": {
				"main": [
					[
						{
							"node": "Mock Opportunities",
							"type": "main",
							"index": 0
						}
					]
				]
			},
			"Mock Opportunities": {
				"main": [
					[
						{
							"node": "Aggregate And Build Payload",
							"type": "main",
							"index": 0
						}
					]
				]
			},
			"Aggregate And Build Payload": {
				"main": [
					[
						{
							"node": "Build Transcript File",
							"type": "main",
							"index": 0
						}
					]
				]
			},
			"Build Transcript File": {
				"main": [
					[
						{
							"node": "Build Mock Preview",
							"type": "main",
							"index": 0
						},
						{
							"node": "Create Approval Record",
							"type": "main",
							"index": 0
						}
					]
				]
			}
		},
		"settings": {},
		"staticData": null,
		"meta": null,
		"pinData": {},
		"versionId": "2dd53d97-dc09-4691-9683-944f1cc3d937",
		"activeVersionId": null,
		"versionCounter": 1,
		"triggerCount": 0,
		"tags": [],
		"versionMetadata": {
			"name": null,
			"description": null
		}
	}
]
