n8n/opportunity-chat-claude.workflow.json
[
	{
		"id": "26816b4b-966b-4e69-8b2f-5964f92e71d2",
		"name": "LS Opportunity Chat Claude Backend",
		"active": false,
		"isArchived": false,
		"nodes": [
			{
				"parameters": {
					"httpMethod": "POST",
					"path": "ls-opportunity-chat",
					"responseMode": "lastNode",
					"options": {}
				},
				"id": "0c1cc9b0-4bea-490e-acea-553182f85658",
				"name": "Opportunity Chat Webhook",
				"type": "n8n-nodes-base.webhook",
				"typeVersion": 2,
				"position": [
					0,
					0
				]
			},
			{
				"parameters": {
					"jsCode": "const body = $json.body ?? $json;\nconst configuredSecret = process.env.LS_N8N_CLIENT_SECRET || (typeof $vars !== 'undefined' ? $vars.LS_N8N_CLIENT_SECRET : undefined);\nif (!configuredSecret) {\n\tthrow new Error('LS_N8N_CLIENT_SECRET is not configured');\n}\nif (!body.clientSecret || body.clientSecret !== configuredSecret) {\n\tthrow new Error('Invalid client secret');\n}\n\nconst opportunityID = body.opportunity?.opportunityID ?? body.opportunityID;\nif (!opportunityID) {\n\tthrow new Error('opportunity.opportunityID is required');\n}\nif (!body.message || !String(body.message).trim()) {\n\tthrow new Error('message is required');\n}\n\nconst configuredBaseUrl = process.env.ACUMATICA_BASE_URL || (typeof $vars !== 'undefined' ? $vars.ACUMATICA_BASE_URL : undefined);\nconst acumaticaBaseUrl = (configuredBaseUrl || '').replace(//$/, '');\nif (!acumaticaBaseUrl) {\n\tthrow new Error('ACUMATICA_BASE_URL is not configured');\n}\n\nconst endpointBase = acumaticaBaseUrl + '/entity/LSOpportunityNotes/25.200.001';\nconst escapedOpportunityID = String(opportunityID).replace(/'/g, \"''\");\nconst notesFilter = \"ConfirmedOpportunityID eq '\" + escapedOpportunityID + \"'\";\n\nreturn [{\n\tjson: {\n\t\tchatSessionID: body.chatSessionID,\n\t\tmessage: String(body.message).trim(),\n\t\topportunity: body.opportunity ?? { opportunityID },\n\t\topportunityID,\n\t\tendpointBase,\n\t\tcontextUrl: endpointBase + '/OpportunityChatContext/' + encodeURIComponent(opportunityID),\n\t\tnotesUrl: endpointBase + '/OpportunityNotesApproval?$filter=' + encodeURIComponent(notesFilter),\n\t},\n}];"
				},
				"id": "e0e84c17-a63a-4691-b809-9793467f05d2",
				"name": "Validate Secret and Normalize Request",
				"type": "n8n-nodes-base.code",
				"typeVersion": 2,
				"position": [
					260,
					0
				]
			},
			{
				"parameters": {
					"method": "GET",
					"url": "={{$json.contextUrl}}",
					"authentication": "predefinedCredentialType",
					"nodeCredentialType": "oAuth2Api",
					"options": {}
				},
				"id": "34cf868c-2793-4995-8f92-35acee3e0ddb",
				"name": "GET Opportunity Context",
				"type": "n8n-nodes-base.httpRequest",
				"typeVersion": 4.2,
				"position": [
					520,
					0
				]
			},
			{
				"parameters": {
					"method": "GET",
					"url": "={{$node['Validate Secret and Normalize Request'].json.notesUrl}}",
					"authentication": "predefinedCredentialType",
					"nodeCredentialType": "oAuth2Api",
					"options": {}
				},
				"id": "0e7d0fb4-08ad-470b-bdbd-ccececcead84",
				"name": "GET Related Meeting Notes and Transcripts",
				"type": "n8n-nodes-base.httpRequest",
				"typeVersion": 4.2,
				"position": [
					780,
					0
				]
			},
			{
				"parameters": {
					"jsCode": "const request = $node['Validate Secret and Normalize Request'].json;\nconst opportunity = $node['GET Opportunity Context'].json;\nconst meetingNotesResponse = $node['GET Related Meeting Notes and Transcripts'].json;\nconst meetingNotes = Array.isArray(meetingNotesResponse?.value) ? meetingNotesResponse.value : meetingNotesResponse;\n\nreturn [{\n\tjson: {\n\t\trequest,\n\t\topportunity,\n\t\tmeetingNotes,\n\t\tanthropicBody: {\n\t\t\tmodel: process.env.ANTHROPIC_MODEL || (typeof $vars !== 'undefined' ? $vars.ANTHROPIC_MODEL : undefined) || 'claude-3-5-sonnet-latest',\n\t\t\tmax_tokens: Number(process.env.ANTHROPIC_MAX_TOKENS || (typeof $vars !== 'undefined' ? $vars.ANTHROPIC_MAX_TOKENS : undefined) || 1200),\n\t\t\tsystem: [\n\t\t\t\t'You are an Acumatica opportunity analysis assistant.',\n\t\t\t\t'You are strictly read-only.',\n\t\t\t\t'You may analyze Opportunity data and related meeting-note transcripts.',\n\t\t\t\t'Do not claim that you changed Acumatica data.',\n\t\t\t\t'If data is missing, say exactly what is missing.'\n\t\t\t].join(' '),\n\t\t\tmessages: [{\n\t\t\t\trole: 'user',\n\t\t\t\tcontent: [\n\t\t\t\t\t'User question:',\n\t\t\t\t\trequest.message,\n\t\t\t\t\t'',\n\t\t\t\t\t'Opportunity context JSON:',\n\t\t\t\t\tJSON.stringify(opportunity, null, 2),\n\t\t\t\t\t'',\n\t\t\t\t\t'Related meeting notes/transcripts JSON:',\n\t\t\t\t\tJSON.stringify(meetingNotes, null, 2)\n\t\t\t\t].join('\n')\n\t\t\t}]\n\t\t}\n\t}\n}];"
				},
				"id": "362bc906-e2c7-408c-b35b-24fecdfece87",
				"name": "Build Claude Prompt",
				"type": "n8n-nodes-base.code",
				"typeVersion": 2,
				"position": [
					1040,
					0
				]
			},
			{
				"parameters": {
					"method": "POST",
					"url": "https://api.anthropic.com/v1/messages",
					"sendHeaders": true,
					"headerParameters": {
						"parameters": [
							{
								"name": "x-api-key",
								"value": "={{$env.ANTHROPIC_API_KEY || $vars.ANTHROPIC_API_KEY}}"
							},
							{
								"name": "anthropic-version",
								"value": "2023-06-01"
							},
							{
								"name": "content-type",
								"value": "application/json"
							}
						]
					},
					"sendBody": true,
					"specifyBody": "json",
					"jsonBody": "={{JSON.stringify($json.anthropicBody)}}",
					"options": {}
				},
				"id": "01e2495b-2892-4ce1-84a9-01bcaedf1ac8",
				"name": "Claude Analyze Opportunity",
				"type": "n8n-nodes-base.httpRequest",
				"typeVersion": 4.2,
				"position": [
					1300,
					0
				]
			},
			{
				"parameters": {
					"jsCode": "const content = $json.content || [];\nconst answer = Array.isArray(content)\n\t? content.map(part => part?.text || '').filter(Boolean).join('\n').trim()\n\t: '';\n\nreturn [{\n\tjson: {\n\t\tanswer: answer || JSON.stringify($json),\n\t\tmodel: $json.model,\n\t\tusage: $json.usage,\n\t}\n}];"
				},
				"id": "a9fc9f11-ef37-4e1e-a988-0e2f2ce73b4e",
				"name": "Return Answer",
				"type": "n8n-nodes-base.code",
				"typeVersion": 2,
				"position": [
					1560,
					0
				]
			}
		],
		"connections": {
			"Opportunity Chat Webhook": {
				"main": [
					[
						{
							"node": "Validate Secret and Normalize Request",
							"type": "main",
							"index": 0
						}
					]
				]
			},
			"Validate Secret and Normalize Request": {
				"main": [
					[
						{
							"node": "GET Opportunity Context",
							"type": "main",
							"index": 0
						}
					]
				]
			},
			"GET Opportunity Context": {
				"main": [
					[
						{
							"node": "GET Related Meeting Notes and Transcripts",
							"type": "main",
							"index": 0
						}
					]
				]
			},
			"GET Related Meeting Notes and Transcripts": {
				"main": [
					[
						{
							"node": "Build Claude Prompt",
							"type": "main",
							"index": 0
						}
					]
				]
			},
			"Build Claude Prompt": {
				"main": [
					[
						{
							"node": "Claude Analyze Opportunity",
							"type": "main",
							"index": 0
						}
					]
				]
			},
			"Claude Analyze Opportunity": {
				"main": [
					[
						{
							"node": "Return Answer",
							"type": "main",
							"index": 0
						}
					]
				]
			}
		},
		"settings": {
			"executionOrder": "v1"
		}
	}
]